<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_bblog_post_path(@post.bblog, @post) %> |
  <%= link_to "Back to posts", bblog_posts_path(@post.bblog_id) %>

  <%= button_to "Destroy this post", [@post.bblog, @post], method: :delete %>
</div>

</br>
</br>
</br>

<h2>Comments</h2>
<%= render @post.comments %>


<div>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
